/**
 * Defines whether the content should be exported for the base.css file
 *
 * @since 0.0.0
 *
 * @type Bool
 */
$bp-base: false !default;

/**
 * Defines whether the content should be exported for the small.css file
 *
 * @since 0.0.0
 *
 * @type Bool
 */
$bp-small: false !default;

/**
 * Defines whether the content should be exported for the medium.css file
 *
 * @since 0.0.0
 *
 * @type Bool
 */
$bp-medium: false !default;

/**
 * Defines whether the content should be exported for the large.css file
 *
 * @since 0.0.0
 *
 * @type Bool
 */
$bp-large: false !default;

/**
 * Defines whether the content should be exported for the large.css file
 *
 * @since 0.0.0
 *
 * @type Bool
 */
$bp-xlarge: false !default;

/**
 * An Array of the breakpoints for the bp mixin to iterate over
 *
 * @since 0.0.0
 *
 * @type Array
 */
$breakpoints: (
  'base': $bp-base,
  'small': $bp-small,
  'medium': $bp-medium,
  'large': $bp-large,
  'x-large': $bp-xlarge
);

/**
 * Checks whether or not to export the content
 *
 * @param {String}  $query - string to check if variable is set to `true` or `false` to export the `@content`
 *
 * @since 0.0.0
 *
 * @type mixin
 */
@mixin bp($query) {
  @if (map-get($breakpoints, $query)) {
    @content;
  }
}
