$bp-base: false !default;
$bp-small: false !default;
$bp-medium: false !default;
$bp-large: false !default;

$breakpoints: (
  'base': $bp-base,
  'small': $bp-small,
  'medium': $bp-medium,
  'large': $bp-large
);

@mixin responsive($query) {
  @if (map-get($breakpoints, $query)){
    @content;
  }
}
