$breakpoints: (
  'base' $bp-base,
  'small' $bp-small,
  'medium' $bp-medium,
  'large' $bp-large
);

@mixin responsive($query) {
  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);
    @if $query == $name and $declaration {
      @content;
    }
  }
}
