body {
  @include responsive('main') {
    color: red;
  }
  @include responsive('step-one') {
    background-color: #efefef;
    color: blue;
  }
  @include responsive('step-two') {
    padding: 2em;
  }
}
