@include responsive('base') {
  @include reset;
}

body {
  @include responsive('base') {
    background-color: #efefef;
    color: #555;
    padding: 1em;
    text-align: center;
  }
  @include responsive('small') {
    text-align: left;
  }
  @include responsive('medium') {
    padding: 2em;
  }
  @include responsive('large') {
    font-size: 2em;
  }
}
