@include bp('base') {
  @include reset;
}

body {
  @include bp('base') {
    background-color: #efefef;
    color: #555;
    padding: 1em;
    text-align: center;
  }
  @include bp('small') {
    text-align: left;
  }
  @include bp('medium') {
    padding: 2em;
  }
  @include bp('large') {
    font-size: 2em;
  }
}
